.banner-novelty {
	background-image: url('../img/hero-banner-1-l.png');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	&__inner {
		height: 100%;
		display: flex;
		align-items: center;
	}
	&__release {
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		letter-spacing: 0.03em;
		margin-bottom: 15px;
	}
	&__title {
		position: relative;
		font-size: 55px;
		line-height: 63px;
		letter-spacing: 0.06em;
		margin-bottom: 35px;
		font-weight: 600;
	}
	&__title::after {
		position: absolute;
		left: 0;
		bottom: -20px;
		content: '';
		height: 1.5px;
		width: 80px;
		background: var(--main-color);
	}
	&__subtitle {
		width: 395px;
		font-size: 18px;
		font-weight: 500;
		line-height: 28px;
		letter-spacing: 0.03em;
		margin-bottom: 33px;
	}
}