.color-select {
	&__tabs {
		display: flex;
		align-items: center;
		gap: 10px;
		user-select: none;
		flex-wrap: wrap;
	}
	&__tab {
		border-radius: 100%;
		height: 30px;
		width: 30px;
		overflow: hidden;
	}
	&__tab.tab--active {
		padding: 2px;
		border: 1px solid var(--main-color);
	}
	&__img {
		height: 100%;
		width: 100%;
		display: block;
		object-fit: cover;
		border-radius: 100%;
	}
}