.header-buttons {
	display: flex;
	&__item:not(:last-child) {
		margin-right: 20px;
	}
	&__img {
		display: block;
	}
	&__link {
		display: block;
	}
	&__cart {
		position: relative;
		padding-right: 18px;
	}
	&__amount {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 16px;
		width: 16px;
		font-size: 9px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		color: var(--white);
		background: var(--main-color);
	}
}