.mobile-sort-select {
	&__inner {
		position: relative;
	}
	&__btn {
		color: inherit;
		font-weight: inherit;
		font-size: inherit;
		line-height: inherit;
		display: flex;
		align-items: center;
	}
	&__btn.active &__btn-arrow {
		transform: rotate(180deg);
	}
	&__btn-text {
		font-weight: 400;
  		font-size: 12px;
		margin-right: 6px;
	}
	&__btn-arrow {
		transition: 0.2s;
		width: 10px;
	}
	&__list {
		display: none;
		position: absolute;
		bottom: -10px;
		right: 0;
		background: white;
		transform: translateY(100%);
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		z-index: 9;
	}
	&__list.active {
		display: block;
	}
	&__option {
		padding: 12px 20px;
		white-space: nowrap;
		cursor: pointer;
	}
	&__option:hover {
		background: var(--lightgray);
	}
	&__option.active {
		-webkit-text-stroke: var(--custom-weight);
	}
}


// &__select {
// 		position: relative;
// 	}
// 	&__select--active &__select-dropdown {
// 		display: block;
// 	}
// 	&__select--active &__select-current::after {
// 		transform: rotate(180deg);
// 	}
// 	&__select-current {
// 		font-weight: 400;
// 		font-size: 12px;
// 		line-height: 15px;
// 		cursor: pointer;
// 		padding: 10px 0;
// 	}
// 	&__select-current::after {
// 		display: inline-block;
// 		transition: 0.3s;
// 		content: url('../img/arrow-down.svg');
// 		margin-left: 8px;
// 	}
// 	&__select-dropdown {
// 		display: none;
// 		position: absolute;
// 		padding: 20px 0;
// 		right: 0;
// 		bottom: 0;
// 		transform: translateY(100%);
// 		background: var(--lightgray);
// 		padding: 18px 14px;
// 		font-size: 12px;
// 		z-index: 99;
// 	}
// 	&__select-option {
// 		margin-bottom: 20px;
// 		font-weight: 400;
// 		font-size: 16px;
// 		line-height: 15px;
// 		white-space: nowrap;
// 		cursor: pointer;
// 	}
// 	&__select-option--active {
//   		-webkit-text-stroke: var(--custom-weight);
// 	}