@import 'block/null';
@import 'block/font';
@import 'block/variables';
@import 'block/page';
@import 'block/header';
@import 'block/header-buttons';
@import 'block/header-menu';
@import 'block/drop-menu';
@import 'block/swiper-vars';
@import 'block/swiper';
@import 'block/hero';
@import 'block/btn';
@import 'block/banner-novelty';
@import 'block/banner-brand';
@import 'block/banner-elegant';
@import 'block/gender';
@import 'block/about';
@import 'block/sneakers';
@import 'block/caressshop';
@import 'block/subscribe';
@import 'block/footer';
@import 'block/footer-accordion';
@import 'block/catalog';
@import 'block/breadcrumbs';
@import 'block/catalog-filter';
@import 'block/drop-filter';
@import 'block/filter-price';
@import 'block/pagination';
@import 'block/catalog-products';
@import 'block/product-item';
@import 'block/product-item-size';
@import 'block/product-card';
@import 'block/color-select';
@import 'block/similar-product';
@import 'block/recently-watched';
@import 'block/product-size';
@import 'block/cart';
@import 'block/cart-item';
@import 'block/cart-summary';
@import 'block/burger';
@import 'block/mobile-menu';
@import 'block/submenu';
@import 'block/mobile-filter';
@import 'block/sneakers-mobile';
@import 'block/page-product';
@import 'block/page-cart';
@import 'block/mobile-filter-popup';
@import 'block/mobile-sort-select';
@import 'block/set-price';
@import 'block/double-slider';
@import 'block/product-card-filter';
@import 'block/mobile-product-slider';
@import 'block/stickers';
@import 'block/more-color';
@import 'block/pay-method-select';
@import 'block/promo-code';
@import 'block/ticker';



body {
	font-family: 'Montserrat';
	font-weight: 400;
	color: var(--main-color);
	background: var(--lightgray);
	min-width: 320px;
	overflow-x: hidden;
}

.container {
	width: 100%;
	max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}

